:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .bitmask-container {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .bitmask-input {
      font-size: 2rem;
      letter-spacing: 4px;
      padding: .25rem;
      margin-bottom: .5rem;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button  {
        -webkit-appearance: none;
      }
    }

    span {
      font-size: 1.5rem;
      letter-spacing: 4px;
    }
  }

  .checks {
    margin: 0;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;

    li {
      list-style: none;
      font-size: 1.5rem;
      padding-right: 2rem;

      label {
        cursor: pointer;
        padding-bottom: .5rem;
        display: inline-block;
      }

      input[type=checkbox] {
        transform: scale(1.5);
        margin-right: 1rem;
      }
    }
  }
}